.links {
  display: flex;
  justify-content: space-between;
  img {
    border-radius: 100px;
    margin-right: 4px;
  }
  button {
    background: white;
    border-radius: 4px;
    padding: 9px;
    border: 1px solid black;
  }
  button:hover {
    transition: transform 0.8s ease;
    background-color:#00be9b;
    color: white;
    border: 1px solid #00be9b;
  }
  
}
