.container-link {
  background-color: black;
  margin-bottom: 0;

 
  .link-content {
    
    margin: auto;
    display: grid;
    justify-content: space-between;
    .Link {
      display: grid;
      justify-content: space-between;
      padding-top: 17px;
      
      a {
        text-decoration: none;
        color: white;
        font-weight: 400;
        font-size: 26px;
      }
    }
  }
}