/* App.css */

.technology-progress {
  display: flex;
  align-items: center;
  margin-bottom: 55px;
  height: 100%;
  border: solid 1px #ccc3c3;
  border-radius: 20px;
  padding: 10px 10px 8px 20px;
}
:hover .technology-progress {
  opacity: 0.8;
}

.technology-logo {
  margin-right: 15px;

  .technology-d {
    width: 100%;
    margin: auto;
  }
}

.technology-logo img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  object-fit: contain;
}

.progress-bar {
  flex: 1;
  height: 20px;
  width: 100%;
  background: #e7e7e7 !important;
  border-radius: 10px;
  overflow: hidden;
}
.progress {
  background: goldenrod !important;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .technology-progress {
  }

  .progress-bar {
    height: 100%;
    border-radius: 10px;
  }
  .tech-d {
    margin: auto;
  }
  .technology-progress {
    padding: 5px 5px 15px 10px;
  }
}
